<%= search_form_for @users do |f| %>
 <%= f.search_field :name_or_lastname_or_email_cont, class: "", placeholder: "Search users" %>
<% end %>
<% @users.each do |user| %>
	<div>
		<%= user.full_name + ' ' + user.email %>
	</div>
<% end %>