<h1>FITNESSLAND В КОЛПИНО</h1>
<div>
	<h2>г. Колпино, ул. Октябрьская, д.8</h2>
	<h3>с 7:00 до 24:00 будни<br>
	с 9:00 до 23:00 выходные<br><br>
	8 (812) 426-13-47
	</h3>
	<style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 59.738403, lng: 30.624165};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1G9K4IL1sS-mDFoILeV_GNPe0W-_3jUk&callback=initMap">
    </script>
  </body>
</div>

<!--  добавить ссылку на описание фотки клуба и правила клуба -->