<h1>Тренировки</h1>
<div class="training">
	<ul>
		<li><p>Персональные</p>
			<div class="div-for-price">
				Зал - 1100руб<br>
				Бокс - 1200руб
			</div>
		</li>
		<li><p>Групповые</p>
			<div class="div-for-price">
				Зал - 1000руб/чел.<br>
				Бокс - 400руб/чел.
			</div>
		</li>
	</ul>
	<ul>
		<li><p>Сет персональных</p>
			<div class="div-for-price">
				Зал - 9000руб<br>
				Бокс - 9500руб
			</div>
		</li>
		<li><p>Сет групповых</p>
			<div class="div-for-price">
				Зал - 5000руб/чел.<br>
				Бокс - 3600руб/чел.
			</div>
		</li>
	</ul>
	<ul class="training-button">
		<li>
			<%= button_to 'Записаться на тренировку', new_recordings_training_path, method: :get%>
			<!-- <button>
			Записаться на тренировку</button> -->
		</li>
		<li>
			<button>Заказать индивидуальную программу тренировок</button>
		</li>
	</ul>
</div>
<div class="description-div">
	При записи на групповые тренировки компаниями цена за тренировку для двоих: -15% от цены за персональную, далее за каждого человека -5%.<br>
	Для прохождения тренировки необходимо иметь абонемент в фитнес-клуб "Fitness Land" Колпино.<br>
	При отсутствии абонемента: цена тренировки не включает в себя цену за разовое посещение. Цена разового посещения контролируется администрацией Fitness Land.
</div>
