<h1>Наши тренера</h1>
<div trainers-main-div>
<div class="trainers-page">
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера1</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера2</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера3</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера4</p>
		<p>Персональный тренер</p>
	</div>
</div>
<div class="trainers-page">
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера5</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера6</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера7</p>
		<p>Персональный тренер</p>
	</div>	
	<div>
		<p><img src="https://www.kcsd.org/wp/wp-content/uploads/2016/07/avatar-400x400.png" alt="avatar1" width="200" height="200"></p>
		<p>Имя тренера8</p>
		<p>Персональный тренер</p>
	</div>	
</div>
</div>