.header-style-class {
	height: 5vh;
	display: flex;
	align-items: center;
	background-color: #c60000;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 18px;
	justify-content: space-around;

	a {
		color: white;
	}

	a:hover {
		color: lightgrey;
		text-decoration: none;
	}

}
