<div class="exercises-container">
  <div class="exercises-list">
    <div class="exercises-item">
    </div>
  </div>
  
  <div class="exercises-list">
    <div class="exercises-item">
    </div>
  </div>
</div>
