<footer>
		<div>
			<div class="social">
				<a href="#">vk</a>
				<a href="#">inst</a>
			</div>
			<div class="okolo-info">
				<p>Email: rob@bbn.com</p>
				<p>Копирование материалов данного сайта без разрешения правообладателя запрещено.</p>
			</div>
		</div>
</footer>