<footer>
		<div>
			<div class="social"> Обратная связь:
				<a href="#">vk</a>
				<a href="#">inst</a>
				Email: rob@bbn.com |
				Копирование материалов данного сайта без разрешения правообладателя запрещено.
			</div>
			<!-- <div class="okolo-info">

			</div> -->
		</div>
</footer>
